img {
    margin: auto;
    display: block;
    width: 600px;
    height: auto;
}

h1  {
    color: blue;
    font-size: 42px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}